<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data parameters -->
	<param name=chart value=bar>
	<param name=seriesCount value=4>
	<param name=sampleCount value=5>

	<!-- range parameters -->
	<param name=range value=70>
	<param name=rangeLabelFont value=Verdana,bold,11>
	<param name=rangeInterval value=10>
	<param name=rangeColor value=#03475E>

	<!-- colors -->
	<param name=sampleColors value=#B49000,#B46C00,#6C1919,#194848>
	<param name=multiColorOn value=true>

	<!-- value labels -->
	<param name=valueLabelStyle value=inside>
	<param name=valueLabelAngle value=270>

	<!-- sample labels -->
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabels value=Sun,Mon,Tue,Wed,Thu>
	<param name=sampleLabelStyle value=below>
	<param name=sampleLabelColor value=white>
	<param name=sampleLabelFont value=Verdana,bold,11>

	<!-- style -->
	<param name=barWidth value=0.5>

	<!-- 3D parameters -->
	<param name=3DModeOn value=true>
	<param name=3DDepth value=35>

	<!-- bar type -->
	<param name=barType value=behind>
	<param name=barOutlineOff value=true>

	<!-- grid / value lines -->
	<param name=defaultGridLinesOn value=true>
	<param name=defaultGridLinesColor value=#52B9DB>
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#52B9DB>

	<!-- insets -->
	<param name=graphInsets value=30,100,70,35>

	<!-- background / foreground -->
	<param name=chartBackground value=#F5F6F7>
	<param name=alternateChartBackground value=#ABDEEF>
	<param name=background value=#F5F6F7|#CCEBF5>
	<param name=chartForeground value=#52B9DB>
	<param name=foreground value=#03475E>

	<!-- insets -->
	<param name=graphInsets value=20,75,55,20>

	<!-- overlay 0 -->
	<param name=overlay value=bar>
	<param name=overlay_sampleValues_0 value=57,46,56,58,45>
	<param name=overlay_barWidth value=0.6>
	<param name=overlay_sampleColors value=#BB3405|#BB3405dd>

	<!-- overlay 1 -->
	<param name=overlay1 value=bar>
	<param name=overlay1_sampleValues_0 value=32,28,38,38,40>
	<param name=overlay1_barWidth value=0.6>
	<param name=overlay1_sampleColors value=#32BB05|#32BB05dd>

	<!-- overlay 2-->
	<param name=overlay2 value=bar>
	<param name=overlay2_sampleValues_0 value=26,15,20,30,15>
	<param name=overlay2_barWidth value=0.6>
	<param name=overlay2_sampleColors value=#058DBB|#058DBBdd>

	<!-- overlay 3 -->
	<param name=overlay3 value=bar>
	<param name=overlay3_sampleValues_0 value=7,12,10,4,13>
	<param name=overlay3_barWidth value=0.6>
	<param name=overlay3_sampleColors value=#BB8F05|#BB8F05dd>
</applet>

