<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data params -->
	<PARAM NAME="chart" VALUE="bar">
	<PARAM NAME="seriescount" VALUE="2">
	<PARAM NAME="samplevalues_0" VALUE="571,205,187,399,801">
	<PARAM NAME="samplevalues_1" VALUE="3031,1031,3045,5834,7934">

	<!-- sample labels -->
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabels value="2003,2004,2005,2006,2007">
	<param name=sampleLabelStyle value="below">
	<param name=sampleLabelColor value="white">

	<!-- range params -->
	<PARAM NAME="rangeon_2" VALUE="true">
	<PARAM NAME="rangestep_2" VALUE="100">
	<PARAM NAME="rangeinterval_2" VALUE="1000">
	<PARAM NAME="rangestep" VALUE="100">
	<PARAM NAME="rangeinterval" VALUE="100">
	<PARAM NAME="seriesrange_1" VALUE="2">

	<!-- colors -->
	<PARAM NAME="samplecolors" VALUE="#A50000,#F09700">
	<PARAM NAME="multicoloron" VALUE="true">

	<!-- value / grid lines -->
	<PARAM NAME="valuelineson" VALUE="true">
	<PARAM NAME="valuelinescolor" VALUE="#F09700">
	<PARAM NAME="defaultGridLinesOn" VALUE="true">
	<PARAM NAME="defaultGridLinesColor" VALUE="#F09700">

	<!-- style -->
	<PARAM NAME="barwidth" VALUE="0.75">
	<PARAM NAME="zoomon" VALUE="true">
	<PARAM NAME="barShape" VALUE="cylinder">
	<PARAM NAME="3DModeOn" VALUE="true">

	<!-- background / foreground -->
	<PARAM NAME="foreground" VALUE="#ffa000">
	<PARAM NAME="chartForeground" VALUE="#F09700">
	<PARAM NAME="chartBackground" VALUE="#A00000">
	<PARAM NAME="alternateChartBackground" VALUE="#550000">
	<PARAM NAME="background" VALUE="#870000|black">

	<!-- insets -->
	<PARAM NAME="graphInsets" VALUE="25,75,45,55">
</applet>