<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data params -->
	<param name=chart value="bar">
	<param name=seriesCount value=3>
	<param name=sampleValues_0 value="44,40,50,48,50,44,58">
	<param name=sampleValues_1 value="53,55,60,56,45,48,46">
	<param name=sampleValues_2 value="63,65,50,56,65,68,56">
	<param name=sampleColors value="#FFCC00,#FF6600,#990000">

	<!-- range params-->
	<param name=range value=200>
	<param name=rangeStep value=100>
	<param name=lowerRange value=0>

	<!-- legend params -->
	<param name=legendOn value=true>
	<param name=legendLabels value="Yellow, Orange, Red">
	<param name=legendPosition value=right>
	<param name=legendFont value="Verdana,bold,13">

	<!-- fonts -->
	<param name=font value="Verdana,bold,10">
	<param name=valueLabelFont value="Arial,bold,11">

	<!-- 3D params -->
	<param name=3DDepth value=40>
	<param name=line3DDepth value="0.5,0.5">
	<param name=line3DLayout value=same_level>

	<!-- sample highlights -->
	<param name=sampleHighlightStyle value=diamond_filled,circle_filled>
	<param name=sampleHighlightSize value=10>

	<!-- style -->
	<param name=outlineOn value=false>
	<param name=zoomOn value=true>
	<param name=barShape value=cylinder>
	<param name=barType value=stacked>

	<!-- background / foreground -->
	<param name=foreground value=#333333>
	<param name=chartForeground value=#222222>
	<param name=chartBackground value="gray|lightGray">
	<param name=background value="lightGray|gray">

	<!-- insets -->
	<param name=graphInsets value=40,50,40,-1>
</applet>