<applet archive=chart.ext.jar code=com.objectplanet.chart.ChartApplet
width=424 height=280>

	<!-- data -->
	<param name=chart value=bar>
	<param name=seriesCount value=4>
	<param name=sampleValues_0 value=12,47,45,35,8>
	<param name=sampleValues_1 value=18,44,85,26,16>
	<param name=sampleValues_2 value=34,30,70,50,30>
	<param name=sampleValues_3 value=28,24,55,56,26>

	<!-- colors -->
	<param name=sampleColors value=#269226df,#dc9526ef,#dc2626df,#267ec2ef>

	<!-- 3D params -->
	<param name=3DModeOn value=true>
	<param name=3DDepth value=20>

	<!-- range -->
	<param name=rangeStep value=30>
	<param name=rangeInterval value=40>
	<param name=range value=280>
	<param name=rangeColor value=#506373>

	<!-- style -->
	<param name=barWidth value=0.5>
	<param name=multiColorOn value=true>
	<param name=barType value=stacked>
	<param name=barOutlineOff value=true>
	<param name=barShape value=cylinder>
	<param name=barAlignment value=horizontal>

	<!-- font params -->
	<param name=font value=Verdana,bold,11>

	<!-- background / foreground -->
	<param name=chartBackground value=#B2D8FF|#F5F6F7>
	<param name=background value=#F5F6F7|#B2D8FF>
	<param name=chartForeground value=#79C0FF>

	<!-- grid / value lines -->
	<param name=defaultGridLinesOn value=true>
	<param name=defaultGridLinesColor value=#79C0FF>
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#79C0FF>

	<!-- insets -->
	<param name=graphInsets value=20,75,55,20>

	<!-- legend -->
	<param name=legendOn value=true>
	<param name=legendPosition value=bottom>
	<param name=legendLabels value="series 1, series 2, series 3, series 4">

	<!-- background / foreground -->
	<param name=foreground value=#506373>

	<!-- sample labels -->
	<param name=sampleLabels value=one,two,three,four,five>
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabelStyle value=below>
	<param name=sampleLabelColor value=black>
</applet>


