<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="bar">
	<param name=seriesCount value="4">
	<param name=sampleValues_0 value="672,687,645,628,665">
	<param name=sampleValues_1 value="486,445,454,468,467">
	<param name=sampleValues_2 value="332,341,326,329,338">
	<param name=sampleValues_3 value="186,145,154,168,167">

	<!-- sampleLabels -->
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabels value="2003,2004,2005,2006,2007">
	<param name=sampleLabelStyle value="below">

	<!-- colors -->
	<param name=sampleColors value="#505050,#FF8C00,#EEC900,#FFFF80">
	<param name=multiColorOn value=true>

	<!-- range -->
	<param name=range value=800>
	<param name=rangeInterval value=100>
	<param name=seriesRange_0 value=1>

	<!-- value labels -->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=outside>
	<param name=valueLabelAngle value=270>
	<param name=valueLabelFont value="Arial,plain,11">

	<!-- style -->
	<param name=barWidth value=0.8>

	<!-- grid / value lines -->
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#9E9E9E>
	<param name=defaultGridLinesOn value=true>
	<param name=defaultGridLinesColor value=#9E9E9E>

	<!-- background / foreground -->
	<param name=background value=#ffffff|#F0F0F0>
	<param name=alternateChartBackground value=#C0C0C0>
	<param name=foreground value=#555555>
	<param name=chartForeground value=#555555>

	<!-- font -->
	<param name=font value="Arial,bold,11">

	<!-- insets -->
	<param name=graphInsets value="25,45,25,25">
</applet>