<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="bar">
	<param name=seriesCount value="3">
	<param name=sampleValues_0 value="4,7,10,13,17,20">
	<param name=sampleValues_1 value="10,15,20,26,30,36">
	<param name=sampleValues_2 value="15,25,36,46,56,66">
	<param name=sampleValues_3 value="126,125,114,128,107,117">

	<!-- range params -->
	<param name=range value="70">
	<param name=rangeLabelsOff value="true">
	<param name=rangeInterval value=10>

	<!-- colors -->
	<param name=sampleColors value="#6EB5E0|#BBD2E0df,#057AAC|#5893ACdf,#003250|#0C4365df">
	<param name=multiColorOn value=true>

	<!-- value labels -->
	<param name=valueLabelStyle value=inside>
	<param name=valueLabelAngle value=270>

	<!-- style -->
	<param name=barWidth value=0.5>
	<param name=barType value=behind>
	<param name=barOutlineOff value=true>

	<!-- 3D params -->
	<param name=3DModeOn value=true>
	<param name=3DDepth value=20>

	<!-- legend -->
	<param name=legendPosition value=top>
	<param name=legendLabels value=Critical,Major,Minor>

	<!-- grid lines -->
	<param name="defaultGridLinesColor" value="#F5F6F7">
	<param name="valueLinesColor" value="#F5F6F7">

	<!-- background / foreground -->
	<param name="chartBackground" value="white|#E4E4E7">
	<param name="background" value="white|#E4E4E7">
	<param name="chartForeground" value="white">
	<param name="foreground" value="white">

	<!-- insets -->
	<param name=graphInsets value=5,30,20,5>
</applet>

