<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<PARAM NAME="chart" VALUE="bar">
	<PARAM NAME="seriescount" VALUE="2">
	<param name="sampleValues_0" value="10,24,35,26,46,20,34,15,26,56">
	<param name="sampleValues_1" value="70,57,95,78,65,60,77,65,87,75">

	<!-- sample labels -->
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabels value="Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec">
	<param name=sampleLabelStyle value="below">
	<param name=sampleLabelColor value="white">

	<!-- range -->
	<PARAM NAME="range" VALUE="100">
	<PARAM NAME="rangeinterval" VALUE="10">

	<!-- colors -->
	<PARAM NAME="samplecolors" VALUE="#B21A00|#F09700,#A50000|#F09700">
	<PARAM NAME="multicoloron" VALUE="true">

	<!-- grid / value lines -->
	<PARAM NAME="valuelineson" VALUE="true">
	<PARAM NAME="valuelinescolor" VALUE="#F09700">
	<PARAM NAME="defaultGridLinesOn" VALUE="true">
	<PARAM NAME="defaultGridLinesColor" VALUE="#F09700">

	<!-- style -->
	<PARAM NAME="barType" VALUE="behind">
	<PARAM NAME="barOutlineOff" VALUE="true">
	<PARAM NAME="barWidth" VALUE="1">
	<PARAM NAME="zoomOn" VALUE="true">

	<!-- 3D params -->
	<PARAM NAME="3DModeOn" VALUE="true">
	<PARAM NAME="3DDepth" VALUE="15">

	<!-- background / foreground -->
	<PARAM NAME="foreground" VALUE="#ffa000">
	<PARAM NAME="chartForeground" VALUE="#F09700">
	<PARAM NAME="chartBackground" VALUE="#A00000">
	<PARAM NAME="alternateChartBackground" VALUE="#550000">
	<PARAM NAME="background" VALUE="#870000|black">

	<!-- insets -->
	<PARAM NAME="graphInsets" VALUE="25,70,45,35">
</applet>