<applet archive=chart.ext.jar code=com.objectplanet.chart.ChartApplet
 width=424 height=280>
	<!-- data params -->
	<param name=seriesCount value=2>
	<param name=sampleCount value=8>

	<!-- range params -->
	<param name=range value=100>
	<param name=rangeInterval value=20>
	<param name=rangeColor value=lightGray>

	<!-- fonts / labels -->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=outside>
	<param name=font value=Verdana,bold,11>

	<!-- value / grid lines -->
	<param name=defaultGridLinesOn value=true>
	<param name=defaultGridLinesColor value=lightGray>
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=lightGray>

	<!-- sample labels -->
	<param name=sampleLabels value=Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec>
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabelStyle value=below>
	<param name=sampleLabelFont value=Verdana,bold,11>

	<!-- style -->
	<param name=barType value=behind>

	<!-- foreground / background -->
	<param name=alternateChartBackground value=#002A43>
	<param name=chartBackground value=#004973>
	<param name=background value=#014F7D|black>
	<param name=chartForeground value=lightGray>
	<param name=foreground value=lightGray>

	<!-- overlay 0 -->
	<param name=overlay0 value=bar>
	<param name=overlay0_sampleValues_0 value=70,57,95,78,65,60,77,65,87,75>
	<param name=overlay0_sampleColors value=#4B9BC6aa>
	<param name=overlay0_stackedOn value=true>
	<param name=overlay0_barWidth value=1>
	<param name=overlay0_barOutlineOff value=true>

	<!-- overlay 1 -->
	<param name=overlay1 value=bar>
	<param name=overlay1_sampleValues_0 value=20,34,45,36,56,30,44,25,36,56>
	<param name=overlay1_sampleColors value=#E2EFF666>
	<param name=overlay1_stackedOn value=true>
	<param name=overlay1_barWidth value=1>
	<param name=overlay1_barOutlineOff value=true>

	<!-- 3D mode -->
	<param name=3DModeOn value=true>
	<param name=3DDepth value=30>

	<!-- graph insets -->
	<param name=graphInsets value=35,90,65,40>
</applet>