<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data prams -->
	<param name=chart value="bar">
	<param name=seriesCount value="4">
	<param name=sampleValues_0 value="7,12,10,4,13">
	<param name=sampleValues_1 value="26,15,20,30,15">
	<param name=sampleValues_2 value="32,28,38,38,40">
	<param name=sampleValues_3 value="57,46,56,58,45">

	<!-- sample labels -->
	<param name="sampleLabels" value="Sun, Mon, Tue, Wed, Thu">
	<param name="sampleLabelsOn" value="true">
	<param name="sampleLabelStyle" value="below">
	<param name="sampleLabelFont" value="Verdana,bold,11">

	<!-- range params -->
	<param name=range value="70">
	<param name=rangeLabelFont value="Verdana,bold,11">
	<param name=rangeInterval value=10>
	<param name=rangeColor value=#333333>

	<!-- colors -->
	<param name=sampleColors value="#B49000,#B46C00,#6C1919,#194848">
	<param name=multiColorOn value=true>

	<!-- value labels -->
	<param name=valueLabelStyle value=inside>
	<param name=valueLabelAngle value=270>

	<!-- style -->
	<param name=barWidth value=0.5>
	<param name=barType value=behind>
	<param name=barOutlineOff value=true>
	<param name=barShape value=cylinder>

	<!-- 3D params -->
	<param name=3DModeOn value=true>
	<param name=3DDepth value=40>

	<!-- grid / value lines -->
	<param name="defaultGridLinesColor" value="#666666">
	<param name="valueLinesOn" value="true">
	<param name="valueLinesColor" value="#666666">

	<!-- insets -->
	<param name=graphInsets value=30,90,65,30>

	<!-- foreground / background -->
	<param name=foreground value=#333333>
	<param name=chartForeground value=#444444>
	<param name=chartBackground value="lightGray">
	<param name=alternateChartBackground value="gray">
	<param name=background value="lightGray|gray">
</applet>

