<applet archive=chart.ext.jar code="com.objectplanet.chart.ChartApplet"
width="424" height="280">
	<!-- data, range -->
	<param name="chart" value="bar">
	<param name="seriesCount" value="2">
	<param name="sampleCount" value="11">
	<param name="range" value="80">
	<param name="rangeInterval" value="10">
	<param name=rangeColor value=#666666>

	<!-- sample labels -->
	<param name=sampleLabels value="Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec">
	<param name=sampleLabelsOn value="true">
	<param name=sampleLabelStyle value="below">
	<param name=sampleLabelFont value="Verdana,bold,11">

	<!-- fonts -->
	<param name=font value="Verdana,bold,11">

	<!-- grid / value lines -->
	<param name="defaultGridLinesOn" value="true">
	<param name="defaultGridLinesColor" value="#A6A471">
	<param name="valueLinesOn" value="true">
	<param name="valueLinesColor" value="#A6A471">

	<!-- style -->
	<param name="barType" value="behind">
	<param name=zoomOn value=true>

	<!-- insets -->
	<param name=graphInsets value=25,75,55,25>

	<!-- value labels -->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=outside>

	<!-- 3D params -->
	<param name="3DModeOn" value="true">
	<param name="3DDepth" value="30">

	<!-- overlay0 -->
	<param name="overlay0" value="line">
	<param name="overlay0_sampleColors" value="#602F01bb|#602F01ff">
	<param name="overlay0_3DModeOn" value="true">
	<param name="overlay0_sampleValues_0" value="20,25,45,30,56,75,57,35,54,35,22">
	<param name="overlay0_stackedOn" value="true">
	<param name="overlay0_line3dDepth" value="0.5">
	<param name="overlay0_outlineOff" value="true">

	<!-- overlay1 -->
	<param name="overlay1" value="line">
	<param name="overlay1_3DModeOn" value="true">
	<param name="overlay1_sampleValues_0" value="5,13,22,10,28,14,35,18">
	<param name="overlay1_stackedOn" value="true">
	<param name="overlay1_line3dDepth" value="0.5">
	<param name="overlay1_sampleColors" value="#8C752E99|#634E0F">

	<!-- background / foreground -->
	<param name="alternateChartBackground" value="#E2DD94">
	<param name="chartBackground" value="#F0EEC2">
	<param name="background" value="#F7F5CD|#E2DD94">
	<param name="foreground" value="#666666">
	<param name="chartForeground" value="#A19D6A">
</applet>