<applet archive=chart.ext.jar code="com.objectplanet.chart.ChartApplet"
	width="424" height="280">
	<!-- data -->
	<param name=chart value=line>
	<param name=seriesCount value=4>
	<param name=sampleCount value=5>
	<param name=sampleValues_0 value=20,25,28,18,16>
	<param name=sampleValues_1 value=40,37,45,38,32>
	<param name=sampleValues_2 value=64,60,67,54,50>
	<param name=sampleValues_3 value=80,90,75,68,66>

	<!-- font, color -->
	<param name=font value=Verdana,bold,11>
	<param name=sampleColors value=lightGray|gray,white|lightGray,#622C1F|#3B160D,#BD4A26|#74240B>

	<!-- 3D params -->
	<param name=3DModeOn value=true>
	<param name=3DDepth value=40>

	<!-- range params -->
	<param name=range value=100>
	<param name=rangeInterval value=20>
	<param name=rangeColor value=#555555>


	<!-- style -->
	<param name=barType value=behind>

	<param name=defaultGridLinesOn value=true>
	<param name=defaultGridLinesColor value=#BBBBBB>
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#BBBBBB>

	<!-- background / foreground -->
	<param name=chartBackground value=#bbbbbb|#f7f7f7>
	<param name=background value=#f7f7f7|#bbbbbb>
	<param name=chartForeground value=#888888>
	<param name=foreground value=#555555>

	<!-- sample labels -->
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabels value=2003,2004,2005,2006,2007>
	<param name=sampleLabelStyle value=below>
	<param name=sampleLabelFont value=Verdana,bold,11>

	<!-- insets -->
	<param name=graphInsets value=25,115,70,55>
</applet>