<applet archive=chart.ext.jar code="com.objectplanet.chart.ChartApplet"
width="424" height="280">
	<!-- data, range -->
	<param name="seriesCount" value="3">
	<param name="sampleCount" value="7">
	<param name="range" value="80">
	<param name="rangeInterval" value="10">
	<param name=rangeColor value=#555555>
	<param name=rangeLabelFont value="Verdana,bold,11">
	<param name=font value="Verdana,bold,10">

	<!-- grid / value lines -->
	<param name="defaultGridLinesOn" value="true">
	<param name="defaultGridLinesColor" value="#bbbbbb">
	<param name="valueLinesOn" value="true">
	<param name="valueLinesColor" value="#bbbbbb">

	<!-- style -->
	<param name="barType" value="behind">
	<param name=graphInsets value=25,65,75,25>
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=outside>

	<!-- sample labels -->
	<param name="sampleLabels" value="sunday, monday, tuesday, wednesday, thursday, friday, saturday">
	<param name="sampleLabelsOn" value="true">
	<param name="sampleLabelStyle" value="below">
	<param name="sampleLabelAngle" value="330">

	<!-- sample labels -->
	<param name="3DModeOn" value="true">
	<param name="3DDepth" value="25">

	<!-- overlay 0 -->
	<param name="overlay0" value="line">
	<param name="overlay0_3DModeOn" value="true">
	<param name="overlay0_sampleValues_0" value="20,25,40,30,60,80,59,35,47,40,22">
	<param name="overlay0_sampleColors" value="#0082D6bb|#176098ef">
	<param name="overlay0_outlineOff" value="true">
	<param name="overlay0_stackedOn" value="true">
	<param name="overlay0_line3DDepth" value="0.7">

	<!-- overlay 1 -->
	<param name="overlay1" value="line">
	<param name="overlay1_3DModeOn" value="true">
	<param name="overlay1_sampleValues_0" value="10,18,32,20,38,19,35,18">
	<param name="overlay1_sampleColors" value="#58A6D7bb|#367CA8ef">
	<param name="overlay1_stackedOn" value="true">
	<param name="overlay1_outlineOff" value="true">

	<!-- overlay 2 -->
	<param name="overlay2" value="line">
	<param name="overlay2_3DModeOn" value="true">
	<param name="overlay2_sampleValues_0" value="5,9,16,10,19,9,17,9">
	<param name="overlay2_sampleColors" value="#B5DDF7bb|#6EA0C1ef">
	<param name="overlay2_stackedOn" value="true">
	<param name="overlay2_outlineOff" value="true">

	<!-- background / foreground -->
	<param name="background" value="#f7f7f7|#e7e7e7">
	<param name="chartBackground" value="#f7f7f7">
	<param name="alternateChartBackground" value="#e7e7e7">
	<param name="foreground" value="#555555">
	<param name="chartForeground" value="#bbbbbb">
</applet>