<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="line">
	<param name=seriesCount value=3>
	<param name=sampleValues_0 value="51,42,41,43,31,31,34,33,22">
	<param name=sampleValues_1 value="65,66,53,55,60,56,45,48,46">
	<param name=sampleValues_2 value="85,86,73,75,80,76,65,68,66">
	<param name=sampleColors value="#FFCC00,#FF6600,#990000">

	<!-- range -->
	<param name=rangeStep value=100>
	<param name=lowerRange value=20>

	<!-- legend -->
	<param name=legendOn value=true>
	<param name=legendLabels value="Yellow, Orange, Red">
	<param name=legendPosition value=right>
	<param name=legendFont value="Verdana,bold,13">

	<!-- font -->
	<param name=font value="Verdana,plain,10">
	<param name=valueLabelFont value="Arial,bold,11">

	<!-- background / foreground -->
	<param name=chartBackground value="gray|lightGray">
	<param name=background value="lightGray|gray">
	<param name=foreground value=#333333>
	<param name=chartForeground value=#222222>

	<!-- style -->
	<param name=line3DDepth value="0.5,0.5">
	<param name=line3DLayout value=same_level>
	<param name=outlineOn value=false>
	<param name=lineWidth value=10,10,10>
	<param name=zoomOn value=true>
	<param name=lineStyle value=tube>

	<!-- insets -->
	<param name=graphInsets value=25,45,25,-1>
</applet>