<applet archive=chart.ext.jar code="com.objectplanet.chart.ChartApplet"
width="424" height="280">
	<!-- data -->
	<param name="seriesCount" value="3">
	<param name="sampleCount" value="7">

	<!-- 3D params -->
	<param name="3DModeOn" value="true">
	<param name="3DDepth" value="30">

	<!-- range params -->
	<param name="range" value="80">
	<param name="rangeInterval" value="10">
	<param name=rangeColor value=#D92D09>

	<!-- font -->
	<param name=font value="Verdana,bold,11">

	<!-- grid / value lines -->
	<param name="defaultGridLinesOn" value="true">
	<param name="defaultGridLinesColor" value="#F68D3D">
	<param name="valueLinesOn" value="true">
	<param name="valueLinesColor" value="#F68D3D">

	<!-- style -->
	<param name="barType" value="behind">

	<!-- insets -->
	<param name=graphInsets value=25,80,80,25>

	<!-- value labels -->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=outside>

	<!-- sample labels -->
	<param name="sampleLabels" value="Sunday, Monday, Tuesday, Wednesdey, Thursday, Friday, Saturday">
	<param name="sampleLabelsOn" value="true">
	<param name="sampleLabelStyle" value="below">
	<param name="sampleLabelAngle" value="330">
	<param name="sampleLabelFont" value="Verdana,bold,10">

	<!-- overlay 0 -->
	<param name="overlay0" value="line">
	<param name="overlay0_sampleValues_0" value="20,25,40,30,60,78,59,35,54,35,22">
	<param name="overlay0_sampleColors" value="#743523aa|#743523ee">
	<param name="overlay0_stackedOn" value="true">

	<!-- overlay 1 -->
	<param name="overlay1" value="line">
	<param name="overlay1_sampleValues_0" value="10,18,32,20,38,19,35,18">
	<param name="overlay1_sampleColors" value="#F46F0Aaa|#F46F0Aee">
	<param name="overlay1_stackedOn" value="true">

	<!-- overlay 2 -->
	<param name="overlay2" value="line">
	<param name="overlay2_sampleValues_0" value="5,9,16,10,19,9,17,9">
	<param name="overlay2_sampleColors" value="#FEBA31aa|#FEBA31ee">
	<param name="overlay2_stackedOn" value="true">

	<!-- background / foreground -->
	<param name="chartBackground" value="#FEF6A4">
	<param name="alternateChartBackground" value="#FECE6D">
	<param name="background" value="#FEFACF|#FEF387">
	<param name="chartForeground" value="#F68D3D">
	<param name="foreground" value="#D92D09">
</applet>