<applet code=com.objectplanet.chart.ChartApplet width=450 height=300
 archive=chart.ext.jar>
	<!-- data -->
	<param name=chart value=bar>
	<param name=seriescount value=3>
	<param name=sampleValues_0 value=8,13,17,42,74,113,96,84,24,26,120,163,168,14,63,0,35,105,20>
	<param name=sampleValues_1 value=6,14,22,43,39,85,42,13,14,85,80,91,74,113,96,84,24,26>
	<param name=sampleValues_2 value=2,10,10,8,29,82,90,76,0,0,22,22,17,10,20,30,56,70,60>

	<!-- value labels -->
	<param name=valuelabelson  value=true>
	<param name=valuelinescolor  value=#d2d2d2>

	<!-- background / foreground -->
	<param name=chartBackground value=#ffffff>
	<param name=alternateChartBackground value=#f7f7f7>
	<param name=background value=#ffffff|#eeeeee>
	<param name=foreground value=#444444>
	<param name=chartForeground value=#444444>

	<!-- fonts-->
	<param name=font value=Arial,bold,11>
	<param name=titlefont value=Arial,bold,14>
	<param name=valueLabelFont value=Arial,plain,10>

	<!-- sample labels-->
	<param name=samplelabelson value=true>
	<param name=sampleLabels value=09/27,09/28,09/29,09/30,10/01,10/02,10/03,10/04,10/05,10/06,10/07,10/08,10/09,10/10,10/11,10/12,10/13,10/14,10/15,10/16,10/17>
	<param name=sampleLabelSpacingOn value=true>
	<param name=samplelabelangle value=270>
	<param name=samplelabelstyle value=below>
	<param name=autoLabelSpacingOn value=true>

	<!-- value labels-->
	<param name=valueLabelStyle value=floating>
	<param name=valuelabelson value=true>

	<!-- style-->
	<param name=barType value=stacked>
	<param name=barWidth value=0.75>
	<param name=barOutlineOff value=true>
	<param name=barShape value=cylinder>
	<param name=3DModeOn value=true>

	<!-- range -->
	<param name=range value=275>
	<param name=rangeaxislabel value="Events / Day">
	<param name=sampleAxisLabel value="Days (mm / dd)">
	<param name=sampleAxisLabelAngle value=0>
	<param name=rangeaxislabelangle value=270>
	<param name=sampleaxislabelfont value="Arial, bold, 12">
	<param name=rangeaxislabelfont value="Arial, bold, 12">
	<param name=sampleScrollerOn value=true>

	<!-- range -->
	<param name=multicoloron value=true>
	<param name=sampleColors value=#CC0000,#FE8243,#FFA0A0>

	<!-- legend -->
	<param name=legendLabels value=Critical,Major,Minor>
	<param name=legendColors value=#CC0000,#FE8243,#FFA0A0>
	<param name=legendposition value=top>
	<param name=legendfont value=Arial,bold,12>
	<param name=legendon value=true>

	<!-- other -->
	<param name=valueLinesOn value=true>
	<param name=singleClickURLOn value=true>
</applet>
