<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="bar">
	<param name=seriesCount value="4">
	<param name=sampleValues_0 value="72,87,45,28">
	<param name=sampleValues_1 value="486,745,854,368">
	<param name=sampleValues_2 value="3,6,7,6">
	<param name=sampleValues_3 value="286,145,154,268">

	<!-- colors -->
	<param name=sampleColors value="#E9F4FAaa|#CEEAFA,#B5DDF7aa|#A0D5F7,#58A6D7aa|#4EA2D7,#58A6D7aa|#0082D6">
	<param name=multiColorOn value=true>

	<!-- range -->
	<param name=seriesRange_0 value=1>
	<param name=seriesRange_1 value=2>
	<param name=seriesRange_2 value=3>
	<param name=seriesRange_3 value=4>
	<param name=rangeOn_2 value=true>
	<param name=rangeOn_3 value=true>
	<param name=rangeOn_4 value=true>
	<param name=rangePosition_1 value=left>
	<param name=rangePosition_2 value=left>
	<param name=rangePosition_3 value=right>
	<param name=rangePosition_4 value=right>
	<param name=rangeStep value=100>
	<param name=rangeStep_2 value=1000>
	<param name=rangeStep_3 value=10>
	<param name=rangeStep_4 value=100>
	<param name=rangeColor value=#88ACBF>
	<param name=rangeColor_2 value=#6A9CBD>
	<param name=rangeColor_3 value=#458FBE>
	<param name=rangeColor_4 value=#0073BD>

	<!-- range axis labels -->
	<param name=rangeAxisLabel value="range one">
	<param name=rangeAxisLabel_2 value="range two">
	<param name=rangeAxisLabel_3 value="range three">
	<param name=rangeAxisLabel_4 value="range four">
	<param name=rangeAxisLabelAngle value=270>
	<param name=rangeAxisLabelAngle_2 value=270>
	<param name=rangeAxisLabelAngle_3 value=270>
	<param name=rangeAxisLabelAngle_4 value=270>
	<param name=rangeAxisLabelFont value="Times,bold,11">

	<!-- value lines / labels -->
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value="#e0e0e0">
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=inside>
	<param name=valueLabelAngle value=270>

	<!-- value lines / labels -->
	<param name=barWidth value=0.7>
	<param name=barOutlineOff value=true>
	<param name=3DModeOn value=true>
	<param name=3DDepth value=4>
	<param name=graphInsets value=20,-1,20,-1>
	<param name=font value="Times,plain,8">

	<!-- background / foreground -->
	<param name="background" value="#e7e7e7|#f7f7f7">
	<param name="chartBackground" value="#ffffff">
	<param name="alternateChartBackground" value="#f7f7f7">
	<param name="foreground" value="#999999">
	<param name="chartForeground" value="#999999">
</applet>