<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=450 height=300>
	<!-- sample values -->
	<param name=chart value="line">
	<param name=seriesCount value=2>
	<param name=sampleColors value="#00A0C4|#00A0C499,#FF6200|#FF620169">
	<param name=sampleValues_0 value="51,42,41,43,31,31,34,33,22">
	<param name=sampleValues_1 value="65,66,53,55,60,56,45,48,46">

	<!-- range -->
	<param name=rangeStep value=100>
	<param name=range value=80>
	<param name=lowerRange value=20>
	<param name=rangeColor value=#777777>

	<!-- legend -->
	<param name=legendOn value=true>
	<param name=legendLabels value="Cyan,Orange">
	<param name=legendPosition value=left>
	<param name=legendFont value="Dialog,bold,14">

	<!-- value lines / labels -->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelFont value="Arial,bold,11">
	<param name=valueLinesOn value=true>

	<!-- 3D params -->
	<param name=3DModeOn value=true>
	<param name=3DDepth value=30>
	<param name=line3DDepth value=0.8>

	<!-- insets -->
	<param name=graphInsets value=25,150,50,25>

	<!-- background / foreground -->
	<param name="background" value="#e7e7e7|#f7f7f7">
	<param name="chartBackground" value="#e7e7e7">
	<param name="alternateChartBackground" value="#f7f7f7">
	<param name="foreground" value="#777777">
	<param name="chartForeground" value="#888888">
</applet>