<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="line">
	<param name=seriesCount value=3>
	<param name=sampleValues_0 value=",48,,54,,48,,44,,59,">
	<param name=sampleValues_1 value=",28,13,31,18,21,8,26,18,31">
	<param name=sampleValues_2 value=",75,69,79,91,73,70,94,90,92">

	<!-- range -->
	<param name=range value=100>
	<param name=rangeLabelFont value="Arial,bold,11">
	<param name=rangeColor value=#777777>

	<!-- colors -->
	<param name=sampleColors value="red, pink, orange">

	<!-- sample highlights -->
	<param name=sampleHighlightOn value="true">
	<param name=sampleHighlightStyle value="square, circle_filled, diamond_opaque">
	<param name=sampleHighlightSize value="25,25,23">

	<!-- style -->
	<param name=lineWidth value=1,2,3>

	<param name=seriesLineOff value=0>

	<!-- value lines / labels -->
	<param name=valueLinesOn value=true>
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=inside>
	<param name=valueLabelFont value="Arial,bold,11">

	<!-- insets -->
	<param name=graphInsets value=25,40,25,25>

	<!-- background / foreground -->
	<param name="background" value="#e7e7e7|#f7f7f7">
	<param name="chartBackground" value="#f7f7f7">
	<param name="alternateChartBackground" value="#efefef">
	<param name="foreground" value="#777777">
	<param name="chartForeground" value="#888888">
</applet>