<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- range -->
	<param name=chart value="bar">
	<param name=sampleValues value="32,55,70,30,20">
	<param name=sampleColors value="#FFDE9B">

	<!-- sample labels -->
	<param name=sampleLabels value="JAN 2003\n, FEB 2003\n, MAR 2003\n, APR 2003\n, MAY 2003\n">
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabelStyle value=floating>

	<!-- range -->
	<param name=range value=100>
	<param name=rangeLabelFont value="Arial,bold,13">
	<param name=rangeColor value=#777777>

	<!-- sample axis label -->
	<param name=sampleAxisLabel value="sampleAxisLabel">
	<param name=sampleAxisLabelFont value="Arial,bold,16">

	<!-- value labels-->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=floating>
	<param name=floatingLabelFont value=Arial,bold,13>

	<!-- custom labels-->
	<param name=label_0 value="The label may be set any place you want, 130, 60">
	<param name=label_1 value="APRIL 2003,300,150,3,0">

	<!-- style -->
	<param name=barWidth value=0.9>

	<!-- background / foreground -->
	<param name="background" value="#FFEECC|#FFF8EA">
	<param name="chartBackground" value="#FFEECC">
	<param name="alternateChartBackground" value="#FFF6E4">
	<param name="foreground" value="#888888">
	<param name="chartForeground" value="#888888">

	<!-- insets -->
	<param name=graphInsets value="25,40,35,25">
</applet>