<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- range -->
	<param name=chart value=pie>
	<param name=sampleValues value="643,557,825,829,376">

	<!-- sample labels -->
	<param name=sampleLabels value="Monday\n,Tuesday\n,Wednesday\n,Thursday\n,Friday\n">
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabelStyle value=outside>

	<!-- percent labels -->
	<param name=percentLabelsOn value=true>
	<param name=percentLabelStyle value=outside>

	<!-- fonts -->
	<param name=outsideLabelFont value="Arial,bold,11">

	<!-- colors -->
	<param name=sampleColors value="#9CC671,#CECECE,#E7C952,#CE9577,#D5BE3D">

	<!-- style -->
	<param name=selectionStyle value=detached>
	<param name=3dModeOn value=true>
	<param name=depth value=0.15>
	<param name=angle value=40>
	<param name=pieRotationOn value=true>
	<param name=sliceSeperatorOn value=false>
	<param name=sliceSeperatorColor value=white>

	<!-- background / foreground -->
	<param name="background" value="#ffffff|#dddddd">
	<param name="foreground" value="#444444">

	<!-- insets -->
	<param name=graphInsets value=0,0,0,0>
</applet>