<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=450 height=300>
	<!-- data -->
	<param name=sampleValues value="15,25,39,31,67">

	<!-- colors -->
	<param name=sampleColors value="#065668|#003F4E">

	<!-- range -->
	<param name=rangeOn_2 value=true>
	<param name=rangeOn_3 value=true>
	<param name=rangeStep value=100>
	<param name=rangeStep_2 value=100>
	<param name=rangeStep_3 value=20>
	<param name=rangePosition value=right>
	<param name=rangePosition_2 value=right>
	<param name=rangePosition_3 value=right>
	<param name=rangeAdjusterOn value=true>
	<param name=rangeAdjusterOn_2 value=true>
	<param name=rangeAdjusterOn_3 value=true>

	<!-- style -->
	<param name=barWidth value=0.6>

	<!-- value lines -->
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#FFBB00>

	<!-- background / foreground -->
	<param name=chartBackground value=#176179>
	<param name=alternateChartBackground value=#1A6D8A>
	<param name=background value=#003B49|#065668>
	<param name=chartForeground value=#FFBB00>
	<param name=foreground value=#FFBB00>

	<!-- insets -->
	<param name=graphInsets value=20,20,20,125>

	<!-- overlay 0 -->
	<param name=overlay0 value="bar">
	<param name=overlay0_valueLabelsOn value="true">
	<param name=overlay0_valueLabelFont value="Arial,bold,11">
	<param name=overlay0_sampleValues value="28,36,95,55,87">
	<param name=overlay0_sampleColors value="#00647A|#004C5D">
	<param name=overlay0_seriesRange_0 value="2">
	<param name=overlay0_barWidth value="0.2">
	<param name=overlay0_chartForeground value=#FFBB00>

	<!-- title -->
	<param name=overlay1 value="line">
	<param name=overlay1_lineWidth value="3">
	<param name=overlay1_sampleHighlightOn value="true">
	<param name=overlay1_sampleHighlightStyle value="circle_opaque">
	<param name=overlay1_sampleHighlightSize value="7">
	<param name=overlay1_sampleValues value="2,3,4,4.5,5,6,8,11">
	<param name=overlay1_seriesRange_0 value="3">
	<param name=overlay1_sampleColors value="#FFAA00">
</applet>