<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- sample values -->
	<PARAM NAME=chart VALUE=bar>
	<PARAM NAME=seriescount VALUE=2>
	<PARAM NAME=samplevalues_0 VALUE=531,205,187,399,701>
	<PARAM NAME=samplevalues_1 VALUE=3031,1031,3045,5134,7934>

	<!-- range -->
	<PARAM NAME=rangeon_2 VALUE=true>
	<PARAM NAME=rangestep_2 VALUE=100>
	<PARAM NAME=range VALUE=900>
	<PARAM NAME=seriesrange_1 VALUE=2>

	<!-- colors -->
	<param name=rangeColor value=#777777>
	<PARAM NAME=sampleColors VALUE=#FF781E|#C34E00,#BDFC00|#7EA800>
	<PARAM NAME=multiColorOn VALUE=true>

	<!-- grid / value lines -->
	<PARAM NAME=valueLinesOn VALUE=true>
	<PARAM NAME=defaultGridLinesOn VALUE=true>

	<!-- style -->
	<PARAM NAME=barwidth VALUE=0.6>
	<PARAM NAME=barOutlineOff VALUE=true>
	<PARAM NAME=zoomon VALUE=true>
	<PARAM NAME=barShape VALUE=cylinder>

	<!-- insets -->
	<param name=graphInsets value=25,45,20,50>

	<!-- foreground / background -->
	<param name=background value=#e7e7e7|#f7f7f7>
	<param name=chartBackground value=#ffffff>
	<param name=alternateChartBackground value=#EEEEEE>
	<param name=foreground value=#999999>
	<param name=chartForeground value=#999999>
</applet>