<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="line">
	<param name=seriesCount value=3>
	<param name=sampleValues_0 value="73,68,108,125,133,201,226,159,118,165,225,280,267,352,109">
	<param name=sampleValues_1 value="69,84,103,136,129,152,141,175,240,225,138,202,246,284,278">
	<param name=sampleValues_2 value="81,77,94,123,124,141,115,164,270,187,175,202,374,327,204">
	<param name=sampleColors value="#339CCCaa|#038DCCe7,#FFCC00aa|#FFCC00e7,#FF9934aa|#FF8003e7">

	<!-- range -->
	<param name=range value=1000>
	<param name=rangeInterval value=200>
	<param name=rangeLabelFont value="Arial,bold,11">
	<param name=rangeColor value=#777777>

	<!-- grid lines -->
	<param name=defaultGridLinesOn value=true,0,20>
	<param name=defaultGridLinesColor value=#cccccc>

	<!-- legend -->
	<param name=legendOn value=true>
	<param name=legendFont value="Arial,bold,11">
	<param name=legendLabels value="serie 1, serie 2, serie 3">
	<param name=legendPosition value=bottom>

	<!-- value lines / labels -->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=outside>
	<param name=valueLabelFont value="Arial,bold,11">
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#cccccc>

	<!-- style -->
	<param name=stackedOn value=true>
	<param name=3DModeOn value=true>
	<param name=line3DDepth value=0.35>

	<!-- insets -->
	<param name=graphInsets value=25,60,45,25>

	<!-- background / foreground -->
	<param name="background" value="#e7e7e7|#f7f7f7">
	<param name="chartBackground" value="#e7e7e7">
	<param name="alternateChartBackground" value="#f7f7f7">
	<param name="foreground" value="#777777">
	<param name="chartForeground" value="#888888">
</applet>