<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="pie">
	<param name=seriesCount value="3">
	<param name=sampleValues_0 value="200, 300, 400, 300">
	<param name=sampleValues_1 value="300, 400, 500, 600">
	<param name=sampleValues_2 value="160, 150, 130, 100">

	<!-- title -->
	<param name=chartTitle value="Software Distribution">
	<param name=titleFont value="Courier, bold, 22">

	<!-- labels -->
	<param name=sampleLabels value="America, Europe, Asia, Africa">
	<param name=seriesLabels value="Charting, Survey, Network">

	<!-- labels -->
	<param name=pieLabelsOn value="true">
	<param name=percentLabelsOn value="true">
	<param name=percentLabelStyle value="inside">

	<!-- sample colors -->
	<param name=sampleColors value="#AD6300,#B52900,#E7CE6B">

	<!-- legend -->
	<param name=legendOn value=true>

	<!-- style -->
	<param name=sliceSeperatorColor value=white>
	<param name=3dModeOn value="true">

	<!-- background / foreground -->
	<param name="background" value="#ffffff|#dddddd">
	<param name="foreground" value="#555555">
</applet>