<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=650 height=350>
	<!-- data -->
	<param name="chart" value="bar">
	<param name="sampleValues_0" value="4, 2, 6, 12, 15, 14, 24, 32, 32, 44, 37, 64, 59, 47, 62, 73, 60, 44, 61, 75, 78">

	<!-- range -->
	<param name="seriesRange_0" value="2">

	<!-- sample labels -->
	<param name="sampleLabels" value="jul 1999,aug 1999,sep 1999,oct 1999,nov 1999,dec 1999,jan 2000,feb 2000,mar 2000,apr 2000,may 2000,jun 2000,jul 2000,aug 2000,sep 2000,oct 2000,nov 2000,dec 2000,jan 2001,feb 2001,mar 2001">
	<param name="sampleColors" value="#61A1CC|#2A87C5,#ff9a00">

	<!-- background / foreground -->
	<param name="background" value="#C1E684|#EFFFD3">
	<param name="chartBackground" value="#FFC277">
	<param name="alternateChartBackground" value="#E6CC9F">
	<param name="foreground" value="#643D27">
	<param name="chartForeground" value="#BD734A">

	<!-- value labels / lines -->
	<param name="valueLabelsOn" value="true">
	<param name="valueLabelStyle" value="inside">
	<param name="valueLinesOn" value="true">
	<param name="valueLinesColor" value="#DEBE84">

	<!-- sample labels -->
	<param name="sampleLabelsOn" value="true">
	<param name="sampleLabelStyle" value="below">
	<param name="sampleLabelAngle" value="330">
	<param name="sampleLabelFont" value="Arial,bold,10">

	<!-- title -->
	<param name="chartTitle" value="Bike Sales">

	<!-- legend -->
	<param name="legendOn" value="true">
	<param name="legendPosition" value="top">
	<param name="legendLabels" value="Count,Sales">

	<!-- range -->
	<param name="rangeOn_2" value="true">
	<param name="rangeStep" value="1000">
	<param name="rangeStep_2" value="100">
	<param name="rangePosition" value="right">
	<param name="rangeposition_2" value="left">
	<param name="rangeAdjusterOn" value=true>
	<param name="rangeAdjusterOn_2" value=true>
	<param name="rangeAdjusterPosition_2" value=left>
	<param name="rangeAdjusted_1" value="both">
	<param name="rangeColor" value="#643D27">
	<param name="rangeColor_2" value="#643D27">
	<param name="rangeLabelFont" value="Arial,bold,11">
	<param name="sampleScrollerOn" value="true">

	<!-- sample / range axis labels -->
	<param name="sampleAxisLabel" value="Sales Period">
	<param name="sampleAxisLabelFont" value="Verdana, bold, 14">
	<param name="rangeAxisLabel" value="US Dollars">
	<param name="rangeAxisLabelFont" value="verdana, bold, 16">
	<param name="rangeAxisLabelAngle" value="90">
	<param name="rangeAxisLabel_2" value="Number of Sales">
	<param name="rangeAxisLabelAngle_2" value="270">
	<param name="rangeLabelPrefix" value="$">

	<!-- style -->
	<param name="multiSeriesOn" value="true">
	<param name="barWidth" value="0.6">
	<param name="barOutlineOff" value="true">

	<!-- overlay -->
	<param name="overlay" value="spline">
	<param name="overlay_seriesCount" value="2">
	<param name="overlay_sampleValues_1" value="1247, 648, 1794, 2238, 3185, 3997, 4176, 9247, 8465, 14982, 12263, 21847, 23515, 18344, 20765, 25047, 18616, 16327, 19746, 22547, 24074">
	<param name="overlay_sampleColors" value="#FFB55A,#BD734A">
	<param name="overlay_valueLabelsOn" value="true">
	<param name="overlay_valueLabelPrefix" value="$">
	<param name="overlay_sampleHighlightOn" value="true">
	<param name="overlay_sampleHighlightStyle" value="circle_opaque">
	<param name="overlay_sampleHighlightSize" value="8">
	<param name="overlay_lineWidth" value="4">
</applet>