<applet archive=chart.ext.jar code="com.objectplanet.chart.ChartApplet"
width="424" height="280">
	<!-- sample / series count -->
	<param name="seriesCount" value="2">
	<param name="sampleCount" value="5">

	<!-- sample / series count -->
	<param name="range" value="100">
	<param name="rangeInterval" value="20">
	<param name=rangeColor value=#555555>
	<param name=font value="Verdana,bold,11">

	<!-- sample labels -->
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabels value="2003,2004,2005,2006,2007">
	<param name=sampleLabelStyle value="below">
	<param name=sampleLabelColor value="white">

	<!-- style -->
	<param name="barType" value="behind">

	<!-- sample / series count -->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=outside>

	<!-- overlay -->
	<param name="overlay0" value="bar">
	<param name="overlay0_3DModeOn" value="true">
	<param name="overlay0_sampleValues_0" value="35,45,40,45,40">
	<param name="overlay0_sampleValues_1" value="40,35,50,55,45">
	<param name="overlay0_seriesCount" value="2">
	<param name="overlay0_sampleColors" value="#AB2424,#247724">
	<param name="overlay0_barType" value="stacked">
	<param name="overlay0_multiColorOn" value="true">
	<param name="overlay0_barOutlineOff" value="true">
	<param name="overlay0_barWidth" value="0.5">
	<param name="overlay0_barShape" value="cylinder">

	<!-- overlay 1 -->
	<param name="overlay1" value="spline">
	<param name="overlay1_seriesCount" value="2">
	<param name="overlay1_sampleValues_0" value="25,28,40,45,40,25,20,23,27">
	<param name="overlay1_sampleValues_1" value="25,23,18,27,38,46,38,33,33">
	<param name="overlay1_sampleColors" value="#197FC8BB,#E08E03BB">
	<param name="overlay1_stackedOn" value="true">

	<!-- grid / value lines count -->
	<param name="defaultGridLinesOn" value="true,0,20">
	<param name="defaultGridLinesColor" value="#74a0bd">
	<param name="valueLinesOn" value="true">
	<param name="valueLinesColor" value="#74a0bd">

	<!-- background / foreground count -->
	<param name="chartBackground" value="#BCD8F3">
	<param name="alternateChartBackground" value="#F3F3F3">
	<param name="background" value="#FFFFFF|#F0F0F0">
	<param name="chartForeground" value="#74a0bd">
	<param name="foreground" value="#555555">

	<!-- sample / series count -->
	<param name="3DModeOn" value="true">
	<param name="3DDepth" value="40">

	<!-- sample / series count -->
	<param name=graphInsets value=25,90,60,25>
</applet>