<applet archive=chart.ext.jar code="com.objectplanet.chart.ChartApplet"
width="424" height="280">
	<!-- sample / series count -->
	<param name=seriesCount value=2>
	<param name=sampleCount value=11>

	<!-- range -->
	<param name=range value=200>
	<param name=rangeInterval value=25>
	<param name=rangeColor value=#5f5f5f>

	<!-- font -->
	<param name=font value=Verdana,bold,11>

	<!-- grid / value lines -->
	<param name=defaultGridLinesOn value=true>
	<param name=defaultGridLinesColor value=#D3D2B6>
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#D3D2B6>

	<!-- style -->
	<param name=barType value=behind>

	<!-- sample labels -->
	<param name=sampleLabels value=jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec>
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabelStyle value=below>
	<param name=sampleLabelAngle value=270>

	<!-- 3D params -->
	<param name=3DModeOn value=true>
	<param name=3DDepth value=25>

	<!-- overlay 0 -->
	<param name=overlay0 value=spline>
	<param name=overlay0_3DModeOn value=true>
	<param name=overlay0_sampleValues_0 value=75,80,100,140,160,147,120,130,170,185,170,120,100>
	<param name=overlay0_seriesCount value=1>
	<param name=overlay0_sampleColors value=#A3350Cee|#5D1900ee>
	<param name=overlay0_stackedOn value=true>
	<param name=overlay0_outlineOff value=true>
	<param name=overlay0_line3DDepth value=0.65>

	<!-- overlay 1 -->
	<param name=overlay1 value=bar>
	<param name=overlay1_3DModeOn value=true>
	<param name=overlay1_sampleValues_0 value=48,55,68,62,93,115,99,61,71,65,49>
	<param name=overlay1_barOutlineOff value=true>
	<param name=overlay1_sampleColors value=#8B8636dd>
	<param name=overlay1_barWidth value=0.65>
	<param name=overlay1_barShape value=cylinder>

	<!-- foreground / background -->
	<param name=foreground value=#5f5f5f>
	<param name=chartForeground value=#888888>
	<param name=chartBackground value=#FEEFD0>
	<param name=alternateChartBackground value=#D9E4CC>
	<param name=background value=#A3C877>

	<!-- insets -->
	<param name=graphInsets value=30,70,70,30>
</applet>