<applet code="com.objectplanet.chart.ChartApplet"
 archive=chart.ext.jar align="left" width="424" height="280">
	<!-- data -->
	<param name="chart" value="pie">
	<param name="sampleValues" value="11,7,6,4,18">

	<!-- title -->
	<param name="chartTitle" value="Number of Projects by Category">
	<param name="TitleFont" value="Arial,bold,11">

	<!-- sample labels -->
	<param name="sampleLabels" value="Urban and commercial new development~Energy generation and supply~Mining~Exploration (mineral, oil, gas)~Other">
	<param name="labelDelimiter" value="~">

	<!-- colors, fonts -->
	<param name="sampleColors" value="#99bbdd,#ff9999,#99ff99,#ffff99,#f1f1f1">
	<param name="insideLabelFont" value="Arial,bold,11">
	<param name="floatingLabelFont" value="Arial,bold,11">


	<!-- decimal count  -->
	<param name="percentDecimalCount" value="5">
	<param name="sampleDecimalCount" value="3">

	<!-- locale -->
	<param name="locale" value="en,us">

	<!-- style -->
	<param name="3DModeOn" value="true">
	<param name="angle" value="30">
	<param name="depth" value="0.1">
	<param name="sliceSeperatorOn" value="true">
	<param name="sliceSeperatorColor" value="white">
	<param name="selectionStyle" value="detached">
	<param name="detachedDistance" value="0.10">
	<param name="pieRotationOn" value="true">

	<!-- legend -->
	<param name="legendOn" value="true">
	<param name="legendFont" value="Arial,plain,11">
	<param name="legendPosition" value="bottom">
	<param name="legendColumns" value="1">

	<!-- sample / series count -->
	<param name="valueLabelsOn" value="true">
	<param name="valueLabelStyle" value="floating">

	<!-- percent labels -->
	<param name="percentLabelsOn" value="true">
	<param name="percentLabelStyle" value="inside">


	<!-- background / foreground -->
	<param name="background" value="#f7f7f7|#e7e7e7">
	<param name="foreground" value="black">
</applet>
