<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value=plotter>
	<param name=seriesCount value=3>
	<param name=plots_0 value=10|17,16|33,35|29,48|71,67|51,71|83,90|68>
	<param name=plots_1 value=10|59,29|15,56|44,63|22,85|56,90|46>
	<param name=plots_2 value=10|88,33|70,46|11,61|82,81|27,90|36>

	<!-- title -->
	<param name=chartTitle value="Connected Plots">
	<param name=titleFont value=Courier,bold,16>

	<!-- plot size / style -->
	<param name=plotSize_0 value=10>
	<param name=plotSize_1 value=10>
	<param name=plotSize_2 value=10>
	<param name=plotStyle value=circle_opaque,diamond_opaque,square_opaque>

	<!-- range -->
	<param name=rangeOn value=left,bottom>

	<!-- colors -->
	<param name=seriesColors value=#19BAF1,#FF690F,#C3F306>

	<!-- style -->
	<param name=connectedLinesOn value=true>
	<param name=lineWidth value=2,4,3>

	<!-- value labels / lines -->
	<param name=XValueLinesOn value=false>
	<param name=XValueLabelsOn value=true>
	<param name=YValueLabelsOn value=true>
	<param name=valueLabelStyle value=over>

	<!-- background / foreground -->
	<param name=foreground value=#012B39>
	<param name=chartForeground value=#012B39>
	<param name=background value=#F1FBFE|#FDFEFF>
	<param name=chartBackground value=#F1FBFE|#FDFEFF>

	<!-- fonts -->
	<param name=font value="Times,plain,10">

	<!-- insets -->
	<param name=graphInsets value="30,40,30,35">
</applet>