<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data-->
	<param name=chart value=plotter>
	<param name=seriesCount value=12>
	<param name=plots_0 value=2.7|56.1,42.8|44.7,44.2|9.3,8.2|34.6,0.9|83.5,19.6|87.5,3.9|159.8>
	<param name=plots_1 value=20.1|11.3,9.4|45.6,43.0|63.4,17.6|15.3,25.2|118.2,34.7|174.5,44.2|1.4>
	<param name=plots_2 value=4.9|45.8,16.0|8.1,16.6|66.3,20.8|137.3,31.7|58.5,33.7|55.7,28.4|191.9>
	<param name=plots_3 value=34.4|80.8,10.9|86.6,47.6|118.3,43.5|128.3,26.8|125.8,46.8|160.0,36.8|83.6>
	<param name=plots_4 value=14.2|97.0,17.2|53.4,0.0|69.6,19.5|76.4,20.0|43.1,0.7|23.6,11.1|83.1>
	<param name=plots_5 value=31.3|47.5,4.1|141.8,35.7|4.0,33.4|25.1,19.8|116.6,31.3|65.9,16.6|33.2>
	<param name=plots_6 value=39.8|179.3,35.9|93.4,12.1|1.0,42.7|66.7,27.8|124.6,11.3|47.4,48.9|41.9>
	<param name=plots_7 value=6.1|2.2,12.7|64.1,27.8|50.8,26.1|57.2,33.9|133.3,9.3|58.1,44.7|67.0>
	<param name=plots_8 value=24.0|155.8,32.9|127.8,15.1|20.5,12.8|6.0,3.4|140.6,46.3|79.0,22.4|189.5>
	<param name=plots_9 value=17.8|21.1,17.0|185.9,46.4|27.8,46.2|32.1,5.2|168.3,16.6|21.8,47.1|3.2>
	<param name=plots_10 value=19.6|192.4,6.1|1.6,40.4|162.1,36.5|77.8,21.1|145.2,40.1|126.8,23.0|160.0>
	<param name=plots_11 value=36.8|187.9,7.1|63.2,39.5|186.3,36.7|127.5,17.1|114.3,41.5|59.5,46.1|198.2>

	<!-- title -->
	<param name=chartTitle value="Plotter\Bubble Chart">
	<param name=titleFont value=Courier,bold,16>

	<!-- plot size / style -->
	<param name=plotSize value=7,7,4,12,12,19,17,17,10,23,23,15>
	<param name=plotStyle value=circle_filled,diamond_filled,square_filled>

	<!-- colors, fonts -->
	<param name=seriesColors value=#FCB441,#E0400A,#418CF0>
	<param name=font value=Verdana,plain,10>

	<!-- style -->
	<param name=lineWidth value=2,4,3>

	<!-- range -->
	<param name=rangeOn value=right,bottom>
	<param name=XUpperRange value=50>
	<param name=YUpperRange value=200>

	<!-- foreground / background -->
	<param name=foreground value=#FEFEFF>
	<param name=chartForeground value=#FEFEFF>
	<param name=chartBackground value=#05053C|#03032D>
	<param name=background value=#03032D|#05053C>

	<!-- insets -->
	<param name=graphInsets value=25,30,20,35>

	<!-- range interval -->
	<param name=XRangeInterval value=10>
	<param name=YRangeInterval value=40>

	<!-- legend -->
	<param name=legendOn value=true>
	<param name=legendLabels value="Series 1, Series 2, Series 3">
	<param name=legendPosition value=bottom>
	<param name=legendFont value=Verdana,bold,10>
</applet>