<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="plotter">
	<param name=seriesCount value=2>
	<param name=plots_0 value="-70|-50|40,-50|60|30,50|60|35,-40|0|31,-4|-40|45,10|50|35,40|-60|35,70|00|27,80|-60|25">
	<param name=plots_1 value="-80|0|20,-60|40|20,-40|-40|30,10|20|25,40|-40|35,80|50|45">

	<!-- colors -->
	<param name=seriesColors value="#FD6600cc,#528CE0cc">

	<!-- style -->
	<param name=plotStyle value="circle_filled, diamond_filled">
	<param name=connectedLinesOn value="false, true">

	<!-- value lines -->
	<param name=XMaxValueLineCount value=10>
	<param name=YMaxValueLineCount value=10>

	<!-- range -->
	<param name=rangeOn value="top,left,bottom,right">
	<param name=XLowerRange value=-100>
	<param name=YLowerRange value=-100>

	<!-- value labels -->
	<param name=XValueLabelsOn_0 value=true>
	<param name=YValueLabelsOn_0 value=true>

	<!-- background / foreground -->
	<param name=chartBackground value=#ffffff|#F0F4F9>
	<param name=background value=#F0F4F9|#ffffff>
</applet>