<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value=spline>
	<param name=seriesCount value=2>
	<param name=sampleValues_0 value="x,71,85,76,80,61,76,53,77,96,63,86,73,x">
	<param name=sampleValues_1 value="x,35,25,30,20,51,26,33,27,36,23,56,43,x">
	<param name=sampleLabels value="Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec">

	<!-- title -->
	<param name=titleOn value=true>

	<!-- range -->
	<param name=range value=100>
	<param name=lowerRange value=10>
	<param name=rangeInterval value=10>
	<param name=rangeColor value=#555555>

	<!-- fonts, colors -->
	<param name=font value="Verdana,bold,11">
	<param name=sampleColors value="#4F7E00,#EB5E00">

	<!-- value / grid lines -->
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#b6b060>
	<param name=defaultGridLinesOn value=true>
	<param name=defaultGridLinesColor value=#b6b060>

	<!-- style -->
	<param name=lineWidth value=4>

	<!-- background / foreground -->
	<param name=chartForeground value=#b6b060>
	<param name=background value=#ffffff|#F8F8E8>
	<param name=alternateChartBackground value=#FAFAD2>
	<param name=chartBackground value="#eee382">

	<!-- insets -->
	<param name=graphInsets value=25,40,25,25>
</applet>