<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data -->
	<param name=chart value="spline">
	<param name=seriesCount value=2>
	<param name=sampleValues_0 value="3,2,2,6,5,4,3,9,4,2,4,6,4,3,4">
	<param name=sampleValues_1 value="19,17,12,11,19,13,14,19,10,10,14,15,13,4,18,15">

	<!-- fonts / colors -->
	<param name=sampleColors value="#FF9234bb,#FFE748bb">
	<param name=font value=Verdana,bold,11>

	<!-- range -->
	<param name=range value=20>
	<param name=rangeLabelFont value="Verdana,bold,12">

	<!-- grid / value lines -->
	<param name=defaultGridLinesOn value=true,10,10>
	<param name=defaultGridLinesColor value=#B5D4F2>
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#B5D4F2>

	<!-- style -->
	<param name=outlineOff value=true>
	<param name=zoomOn value=true>
	<param name=3DModeOn value=true>
	<param name=3DDepth value=30>

	<!-- sample highlights -->
	<param name=sampleHighlightOn value=true>
	<param name=sampleHighlightStyle value=circle_filled>
	<param name=sampleHighlightSize value=8>
	<param name=rangeInterval value=4>

	<!-- valueL labels -->
	<param name=valueLabelStyle value=inside>
	<param name=valueLabelFont value="Arial,bold,11">

	<!-- sample labels -->
	<param name=sampleLabels value=one,two,three>
	<param name=sampleLabelStyle value=inside>

	<!-- series labels -->
	<param name=seriesLabels value=a,b,c>
	<param name=seriesLabelStyle value=outside>

	<!-- background / foreground -->
	<param name="chartBackground" value="#B2D8FF|#F5F6F7">
	<param name="background" value="#F5F6F7|#B2D8FF">
	<param name="chartForeground" value="#6a9bbd">

	<!-- insets -->
	<param name=graphInsets value="25,75,45,25">
</applet>