<applet code=com.objectplanet.chart.ChartApplet
 archive=chart.ext.jar width=424 height=280>
	<!-- data  -->
	<param name=chart value="spline">
	<param name=seriesCount value=2>
	<param name=sampleColors value="#E13838dd|#CC1717,#578CA7dd|#164F6B">
	<param name=sampleValues_0 value="3,2,2,6,5,4,3,9,4,2,4,6,4,3,4">
	<param name=sampleValues_1 value="19,17,12,11,19,13,14,19,10,10,14,15,13,4,18,15">

	<!-- range -->
	<param name=range value=20>
	<param name=rangeLabelFont value="Arial,bold,11">

	<!-- legend -->
	<param name=legendOn value=true>
	<param name=legendFont value="Times,bold,11">
	<param name=legendPosition value=bottom>
	<param name=rangeInterval value=4>

	<!-- style -->
	<param name=outlineOff value=true>
	<param name=zoomOn value=true>
	<param name=3DModeOn value=true>
	<param name=3DDepth value=20>
	<param name=line3DDepth value=0.95>

	<!-- value labels -->
	<param name=valueLabelStyle value=inside>
	<param name=valueLabelFont value="Arial,bold,11">

	<!-- sample labels  -->
	<param name=sampleLabels value=one,two,three>
	<param name=sampleLabelStyle value=inside>

	<!-- series labels  -->
	<param name=seriesLabels value=a,b,c>
	<param name=seriesLabelStyle value=outside>

	<!-- font -->
	<param name=font value=Arial,plain,11>

	<!-- grid / value lines -->
	<param name=defaultGridLinesOn value=true,10,10>
	<param name=defaultGridLinesColor value=#638596>
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#638596>

	<!-- legend labels -->
	<param name=legendLabels value="serie 1, serie 2">

	<!-- background / foreground -->
	<param name=chartBackground value=#C5E3ED>
	<param name=alternateChartBackground value=#F2F8FA>
	<param name=background value=#B6DBE8|#3D99B9>
	<param name=foreground value=#343458>
	<param name=chartForeground value=#343458>

	<!-- insets -->
	<param name=graphInsets value=25,60,45,25>
</applet>