<applet archive=chart.ext.jar code="com.objectplanet.chart.ChartApplet"
width="424" height="280">
	<param name="chart" value="line">

	<!-- sample / series count -->
	<param name=seriesCount value=3>
	<param name=sampleCount value=7>

	<!-- range -->
	<param name=range value=80>
	<param name=rangeInterval value=10>
	<param name=rangeColor value=#444444>

	<!-- font -->
	<param name=font value=Verdana,bold,11>

	<!-- grid / value lines -->
	<param name=defaultGridLinesColor value=#DB5924>
	<param name=valueLinesOn value=true>
	<param name=valueLinesColor value=#bbbbbbb>

	<!-- style -->
	<param name=barType value=behind>
	<param name=3DModeOn value=true>
	<param name=3DDepth value=25>

	<!-- value labels -->
	<param name=valueLabelsOn value=true>
	<param name=valueLabelStyle value=outside>

	<!-- sample labels -->
	<param name=sampleLabels value="sun, mon, tue, wed, thu, fri, sat">
	<param name=sampleLabelsOn value=true>
	<param name=sampleLabelStyle value=below>
	<param name=sampleLabelAngle value=330>

	<!-- overlay 0 -->
	<param name=overlay0 value=spline>
	<param name=overlay0_sampleValues_0 value=20,25,40,30,60,75,59,35,47,40,22>
	<param name=overlay0_sampleColors value=#85D7E0bb|#15BACCee>
	<param name=overlay0_stackedOn value=true>
	<param name=overlay0_3DModeOn value=true>
	<param name=overlay0_outlineOff value=true>
	<param name=overlay0_line3DDepth value=0.4>

	<!-- overlay 1 -->
	<param name=overlay1 value=spline>
	<param name=overlay1_sampleValues_0 value=10,18,32,20,38,19,35,18>
	<param name=overlay1_sampleColors value=#C2E085bb|#8FCC15ee>
	<param name=overlay1_stackedOn value=true>
	<param name=overlay1_3DModeOn value=true>
	<param name=overlay1_outlineOff value=true>
	<param name=overlay1_line3DDepth value=0.4>

	<!-- overlay 2 -->
	<param name=overlay2 value=spline>
	<param name=overlay2_sampleValues_0 value=5,9,16,10,19,9,17,9>
	<param name=overlay2_sampleColors value=#E37A4Fbb|#DB4A0Fee>
	<param name=overlay2_stackedOn value=true>
	<param name=overlay2_3DModeOn value=true>
	<param name=overlay2_outlineOff value=true>
	<param name=overlay2_line3DDepth value=0.4>

	<!-- background / foreground -->
	<param name=chartBackground value=#F3F7D4>
	<param name=alternateChartBackground value=#D4F4F7>
	<param name=background value=white|#E1F7D4>
	<param name=chartForeground value=#6666666>
	<param name=foreground value=#444444>

	<!-- insets -->
	<param name=graphInsets value=25,70,60,25>
</applet>