<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">

<p>There are [FMP-CurrentFoundCount] records in the database: </p>
[FMP-record]
<applet code=com.objectplanet.chart.BarChartApplet
 archive=chart.jar width=300 height=200>
<param name=sampleValues value="[FMP-FIELD: White],[FMP-FIELD: Black],[FMP-FIELD: American_Indian],[FMP-FIELD: Asian],[FMP-FIELD: Other]">
</applet>
[/FMP-record]
</body>
</html>