body {
	padding: 0;
	margin: 0;
	color: #333333;
	background-color: #ffffff;
	background-repeat: repeat-x;
	background-image: url(bakgr000.gif);
}

A {
	COLOR: #669996;
	TEXT-DECORATION: none;
}

A:visited {
	COLOR: #669996;
}

A:hover {
	COLOR: #666666;
	TEXT-DECORATION: underline;
}

.font10px {
	font-family: verdana, helvetica, arial;
	font-size: 10px;
}

.font11px {
	font-family: verdana, helvetica, arial;
	font-size: 11px;
}

.font12px {
	font-family: verdana, helvetica, arial;
	font-size: 12px;
}

.font14px {
	font-family: verdana, helvetica, arial;
	font-size: 14px;
}

.font10px-white {
	font-family: verdana, helvetica, arial;
	font-size: 10px;
	color: #ffffff;
}

.font11px-white {
	font-family: verdana, helvetica, arial;
	font-size: 11px;
	color: #ffffff;
}


.header1 {
	font-weight: bold;
	font-size: 12pt;
	font-family: verdana, helvetica, arial;
}

.8pt {
	font-weight: normal;
	font-size: 8pt;
	font-family: verdana, helvetica, arial;
}

.8pt-bold {
	font-weight: bold;
	font-size: 8pt;
	font-family: verdana, helvetica, arial;
}

.8pt-italic {
	font-weight: italic;
	font-size: 8pt;
	font-family: verdana, helvetica, arial;
}

.10pt {
	font-weight: normal;
	font-size: 10pt;
	font-family: verdana, helvetica, arial;
}

.10pt-bold {
	font-weight: bold;
	font-size: 10pt;
	font-family: verdana, helvetica, arial;
}

.10pt-italic {
	font-weight: italic;
	font-size: 10pt;
	font-family: verdana, helvetica, arial;
}

.graytable {
	background-color: lightgrey;
	font-weight: normal;
	font-size: 8pt;
	border-color: black;
	border-style: solid;
	border-width: thin;
	font-family: "courier new", courier, arial, helvetica;
}

.code {
	background-color: lightgrey;
	padding-right: 10;
	font-weight: normal;
	font-size: 8pt;
	font-family: "courier new", courier, arial, helvetica;
}

.textbox200px                   {width: 200px; font-size: 11px; font-family: verdana, helvetica, arial;}
.textarea250px					{width: 300px; font-size: 11px; font-family: verdana, helvetica, arial;}